In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a series from a Python list

my_index = ['USA', 'Canada', 'England']
my_data = [1776, 1867, 1821]

# Create a Series with default numeric index
my_ser_numeric = pd.Series(data=my_data)

# Print the Series with numeric index
print("Series with Numeric Index:")
print(my_ser_numeric)

# Create a Series with custom index
my_ser_named = pd.Series(data=my_data, index=my_index)

# Print the Series with named index
print("\nSeries with Named Index:")
print(my_ser_named)

Series with Numeric Index:
0    1776
1    1867
2    1821
dtype: int64

Series with Named Index:
USA        1776
Canada     1867
England    1821
dtype: int64

In [3]:
# Now the named index
mydata = [10, 20, 30, 40]
myindex = ['a', 'b', 'c', 'd']
myser = pd.Series(data=mydata, index=myindex)
print(myser)

# Creating a series from NumPy array
# First create a NumPy array using the earlier list
ran_data = np.random.randint(0, 100, 4)
print(ran_data)

names = ['Alice', 'Bob', 'Charles', 'Dave']
ages = pd.Series(ran_data, names)
print(ages)

a    10
b    20
c    30
d    40
dtype: int64
[87 84 25 65]
Alice      87
Bob        84
Charles    25
Dave       65
dtype: int32

In [4]:
# Creating a series form a dictionary
ages = {
    'Alice': 25,
    'Bob': 30,
    'Charles': 35,
    'Dave': 40
}
print(ages)
ages_series = pd.Series(ages)
print(ages_series)

{'Alice': 25, 'Bob': 30, 'Charles': 35, 'Dave': 40}
Alice      25
Bob        30
Charles    35
Dave       40
dtype: int64

In [5]:
# Using named index
# Imagine sales data for 1st and 2nd Quaters for a Global Company
q1 = {
    'Japan': 80,
    'China': 450,
    'India': 200,
    'USA': 250
}

q2 = {
    'Brazil': 100,
    'China': 500,
    'India': 210,
    'USA': 260
}

#Convert into Pandas Series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

print(sales_q1)
print(sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [6]:
# Calls values based on Named Index
print('Sales of japan in quater 1:',sales_q1['Japan'])

# Integer bases location Information also retain
print('Sales of japan in quater 1:',sales_q1.iloc[0])

Sales of japan in quater 1: 80
Sales of japan in quater 1: 80

In [7]:
# Be carefull with potential errors!
try:
    # Wrong names
    print(sales_q1['Argentina'])
except KeyError as e:
    print(f"Error: {e}")

try:
    # Accidental extra spaces
    print(sales_q1['Japan '])
except KeyError as e:
    print(f"Error: {e}")

try:
    # Text case mistake
    print(sales_q1['japan'])
except KeyError as e:
    print(f"Error: {e}")

Error: 'Argentina'
Error: 'Japan '
Error: 'japan'

In [8]:
# Grab just the index keys
print(sales_q1.keys())

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [9]:
# Can perform Operation Broadcsting across entire Series
print(sales_q1 * 2)
print(sales_q1 / 100)

Japan    160
China    900
India    400
USA      500
dtype: int64
Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [10]:
# Notice how pandas informs you of ,ismatch with Nan
print(sales_q1 + sales_q2)

# You can fill NAN with any matching data type valu you want
print(sales_q1.add(sales_q2, fill_value=0))

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64
Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64