In [1]:
import pandas as pd

df = pd.read_csv('tips.csv', )
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [2]:
print(df.columns)

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [3]:
print(df.index)

RangeIndex(start=0, stop=244, step=1)

In [4]:
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [5]:
print(df.tail())

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
239    Michael Avila  5.296070e+15    Sat2657
240   Monica Sanders  3.506810e+15    Sat1766
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None

In [7]:
print(len(df))

244

In [8]:
print(df.describe())

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15

In [9]:
print(df.describe().transpose())

                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

In [10]:
# print(df['first name'])
# print(df.first name) This will show error. Space not allowed

In [11]:
# Select a single column
print(df['total_bill'])
print(df.total_bill)
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
<class 'pandas.core.series.Series'>

In [12]:
#Use double brackets to select multiple columns. 
print(df[['total_bill','tip']])

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [13]:
# Create new columns
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [14]:
df['price_per_person'] = df['total_bill'] / df['size']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
1       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
2       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
3       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
4       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [15]:
import numpy as np
#Adjust existing columns
df['price_per_person'] = np.round(df['price_per_person'], 2)
print(df['price_per_person'])

0       8.49
1       3.45
2       7.00
3      11.84
4       6.15
       ...
239     9.68
240    13.59
241    11.34
242     8.91
243     9.39
Name: price_per_person, Length: 244, dtype: float64

In [16]:
# Remove the column
df = df.drop('tip_percentage', axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [17]:
# index information
print(df.index)

RangeIndex(start=0, stop=244, step=1)

In [18]:
df.set_index('Payment ID', inplace=True)
print(df)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Sun5260          23.68  3.31    Male     No   Sun  Dinner     2
Sun2251          24.59  3.61  Female     No   Sun  Dinner     4
...                ...   ...     ...    ...   ...     ...   ...
Sat2657          29.03  5.92    Male     No   Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15
...                      ...                 ...           ...
Sat2657                 9.68       Michael Avila  5.296070e+15
Sat1766                13.59      Monica Sanders  3.506810e+15
Sat3880                11.34          Keith Wong  6.011890e+15
Sat17                   8.91        Dennis Dixon  4.375220e+12
Thur672                 9.39     Michelle Hardin  3.511450e+15

[244 rows x 10 columns]

In [19]:
df.reset_index(inplace=True)
print(df)

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
1      Sun4608       10.34  1.66    Male     No   Sun  Dinner     3
2      Sun4458       21.01  3.50    Male     No   Sun  Dinner     3
3      Sun5260       23.68  3.31    Male     No   Sun  Dinner     2
4      Sun2251       24.59  3.61  Female     No   Sun  Dinner     4
..         ...         ...   ...     ...    ...   ...     ...   ...
239    Sat2657       29.03  5.92    Male     No   Sat  Dinner     3
240    Sat1766       27.18  2.00  Female    Yes   Sat  Dinner     2
241    Sat3880       22.67  2.00    Male    Yes   Sat  Dinner     2
242      Sat17       17.82  1.75    Male     No   Sat  Dinner     2
243    Thur672       18.78  3.00  Female     No  Thur  Dinner     2

     price_per_person          Payer Name     CC Number
0                8.49  Christy Cunningham  3.560330e+15
1                3.45      Douglas Tucker  4.478070e+15
2                7.00      Travis Walters  6.011810e+15
3               11.84    Nathaniel Harris  4.676140e+15
4                6.15        Tonya Carter  4.832730e+15
..                ...                 ...           ...
239              9.68       Michael Avila  5.296070e+15
240             13.59      Monica Sanders  3.506810e+15
241             11.34          Keith Wong  6.011890e+15
242              8.91        Dennis Dixon  4.375220e+12
243              9.39     Michelle Hardin  3.511450e+15

[244 rows x 11 columns]

In [20]:
# Conditions
print(df['total_bill'] < 30)
bool_series = df['total_bill'] > 30
print(df[bool_series])

print(df[df['total_bill'] > 30])

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill    tip  gender smoker   day    time  size  \
11     Sun6686       35.26   5.00  Female     No   Sun  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00    Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60    Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
52     Sun6165       34.81   5.20  Female     No   Sun  Dinner     4
56     Sat8903       38.01   3.00    Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00    Male    Yes  Thur   Lunch     2
85    Thur7972       34.83   5.17  Female     No  Thur   Lunch     4
95     Fri9628       40.17   4.73    Male    Yes   Fri  Dinner     4
102    Sat6240       44.30   2.50  Female    Yes   Sat  Dinner     3
112     Sun591       38.07   4.00    Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00    Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00    Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50    Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18    Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11    Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55    Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68    Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50    Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00    Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00    Male    Yes   Sun  Dinner     5
197   Thur9313       43.11   5.00  Female    Yes  Thur   Lunch     4
207    Sat4505       38.73   3.00    Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
219    Sat8863       30.14   3.09  Female    Yes   Sat  Dinner     4
237    Sat2929       32.83   1.17    Male    Yes   Sat  Dinner     2
238    Sat9777       35.83   4.67  Female     No   Sat  Dinner     3

     price_per_person             Payer Name     CC Number
11               8.82           Diane Macias  4.577820e+15
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
52               8.70           Emily Daniel  4.291280e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
85               8.71            Shawna Cook  6.011790e+15
95              10.04          Aaron Bentley  1.800270e+14
102             14.77          Heather Cohen  3.797710e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
197             10.78            Brooke Soto  5.544900e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
219              7.54           Shelby House  5.020970e+11
237             16.42           Thomas Brown  4.284720e+15
238             11.94         Kimberly Crane  6.761840e+11
    Payment ID  total_bill    tip  gender smoker   day    time  size  \
11     Sun6686       35.26   5.00  Female     No   Sun  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00    Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60    Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
52     Sun6165       34.81   5.20  Female     No   Sun  Dinner     4
56     Sat8903       38.01   3.00    Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00    Male    Yes  Thur   Lunch     2
85    Thur7972       34.83   5.17  Female     No  Thur   Lunch     4
95     Fri9628       40.17   4.73    Male    Yes   Fri  Dinner     4
102    Sat6240       44.30   2.50  Female    Yes   Sat  Dinner     3
112     Sun591       38.07   4.00    Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00    Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00    Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50    Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18    Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11    Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55    Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68    Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50    Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00    Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00    Male    Yes   Sun  Dinner     5
197   Thur9313       43.11   5.00  Female    Yes  Thur   Lunch     4
207    Sat4505       38.73   3.00    Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
219    Sat8863       30.14   3.09  Female    Yes   Sat  Dinner     4
237    Sat2929       32.83   1.17    Male    Yes   Sat  Dinner     2
238    Sat9777       35.83   4.67  Female     No   Sat  Dinner     3

     price_per_person             Payer Name     CC Number
11               8.82           Diane Macias  4.577820e+15
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
52               8.70           Emily Daniel  4.291280e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
85               8.71            Shawna Cook  6.011790e+15
95              10.04          Aaron Bentley  1.800270e+14
102             14.77          Heather Cohen  3.797710e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
197             10.78            Brooke Soto  5.544900e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
219              7.54           Shelby House  5.020970e+11
237             16.42           Thomas Brown  4.284720e+15
238             11.94         Kimberly Crane  6.761840e+11

In [21]:
# Another syntax
print(df['total_bill'] > 30)
print(df[df['total_bill'] > 30])
print(df[df['gender'] == 'Male'])

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill    tip  gender smoker   day    time  size  \
11     Sun6686       35.26   5.00  Female     No   Sun  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00    Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60    Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
52     Sun6165       34.81   5.20  Female     No   Sun  Dinner     4
56     Sat8903       38.01   3.00    Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00    Male    Yes  Thur   Lunch     2
85    Thur7972       34.83   5.17  Female     No  Thur   Lunch     4
95     Fri9628       40.17   4.73    Male    Yes   Fri  Dinner     4
102    Sat6240       44.30   2.50  Female    Yes   Sat  Dinner     3
112     Sun591       38.07   4.00    Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00    Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00    Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50    Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18    Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11    Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55    Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68    Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50    Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00    Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00    Male    Yes   Sun  Dinner     5
197   Thur9313       43.11   5.00  Female    Yes  Thur   Lunch     4
207    Sat4505       38.73   3.00    Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
219    Sat8863       30.14   3.09  Female    Yes   Sat  Dinner     4
237    Sat2929       32.83   1.17    Male    Yes   Sat  Dinner     2
238    Sat9777       35.83   4.67  Female     No   Sat  Dinner     3

     price_per_person             Payer Name     CC Number
11               8.82           Diane Macias  4.577820e+15
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
52               8.70           Emily Daniel  4.291280e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
85               8.71            Shawna Cook  6.011790e+15
95              10.04          Aaron Bentley  1.800270e+14
102             14.77          Heather Cohen  3.797710e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
197             10.78            Brooke Soto  5.544900e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
219              7.54           Shelby House  5.020970e+11
237             16.42           Thomas Brown  4.284720e+15
238             11.94         Kimberly Crane  6.761840e+11
    Payment ID  total_bill   tip gender smoker  day    time  size  \
1      Sun4608       10.34  1.66   Male     No  Sun  Dinner     3
2      Sun4458       21.01  3.50   Male     No  Sun  Dinner     3
3      Sun5260       23.68  3.31   Male     No  Sun  Dinner     2
5      Sun9679       25.29  4.71   Male     No  Sun  Dinner     4
6      Sun5985        8.77  2.00   Male     No  Sun  Dinner     2
..         ...         ...   ...    ...    ...  ...     ...   ...
236    Sat5032       12.60  1.00   Male    Yes  Sat  Dinner     2
237    Sat2929       32.83  1.17   Male    Yes  Sat  Dinner     2
239    Sat2657       29.03  5.92   Male     No  Sat  Dinner     3
241    Sat3880       22.67  2.00   Male    Yes  Sat  Dinner     2
242      Sat17       17.82  1.75   Male     No  Sat  Dinner     2

     price_per_person          Payer Name     CC Number
1                3.45      Douglas Tucker  4.478070e+15
2                7.00      Travis Walters  6.011810e+15
3               11.84    Nathaniel Harris  4.676140e+15
5                6.32          Erik Smith  2.131400e+14
6                4.38  Kristopher Johnson  2.223730e+15
..                ...                 ...           ...
236              6.30       Matthew Myers  3.543680e+15
237             16.42        Thomas Brown  4.284720e+15
239              9.68       Michael Avila  5.296070e+15
241             11.34          Keith Wong  6.011890e+15
242              8.91        Dennis Dixon  4.375220e+12

[157 rows x 11 columns]

In [22]:
# Multiple conditions
df_new = df[(df['total_bill'] > 30) & (df['gender'] == 'Male')]
print(len(df_new))
print(df_new)

25
    Payment ID  total_bill    tip gender smoker   day    time  size  \
23      Sat239       39.42   7.58   Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00   Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60   Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00   Male     No   Sun  Dinner     4
56     Sat8903       38.01   3.00   Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73   Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00   Male    Yes  Thur   Lunch     2
95     Fri9628       40.17   4.73   Male    Yes   Fri  Dinner     4
112     Sun591       38.07   4.00   Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70   Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00   Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00   Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50   Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00   Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18   Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11   Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55   Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68   Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50   Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00   Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00   Male    Yes   Sun  Dinner     5
207    Sat4505       38.73   3.00   Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00   Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00   Male     No   Sat  Dinner     4
237    Sat2929       32.83   1.17   Male    Yes   Sat  Dinner     2

     price_per_person             Payer Name     CC Number
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
95              10.04          Aaron Bentley  1.800270e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
237             16.42           Thomas Brown  4.284720e+15

In [23]:
# Multiple conditions
df_new = df[(df['total_bill'] > 30) & ~(df['gender'] == 'Male')]
print(len(df_new))
print(df.head(3))

7
  Payment ID  total_bill   tip  gender smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3

   price_per_person          Payer Name     CC Number
0              8.49  Christy Cunningham  3.560330e+15
1              3.45      Douglas Tucker  4.478070e+15
2              7.00      Travis Walters  6.011810e+15

In [24]:
# Multiple conditions
df_new = df[(df['total_bill'] > 30) & (df['gender'] != 'Male')]
print(len(df_new))
print(df.head(3))

7
  Payment ID  total_bill   tip  gender smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3

   price_per_person          Payer Name     CC Number
0              8.49  Christy Cunningham  3.560330e+15
1              3.45      Douglas Tucker  4.478070e+15
2              7.00      Travis Walters  6.011810e+15

In [25]:
#Multiple conditions

df_new = df[(df['total_bill'] > 30) & (df['gender']=='Male')]
print(df_new)

    Payment ID  total_bill    tip gender smoker   day    time  size  \
23      Sat239       39.42   7.58   Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00   Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60   Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00   Male     No   Sun  Dinner     4
56     Sat8903       38.01   3.00   Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73   Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00   Male    Yes  Thur   Lunch     2
95     Fri9628       40.17   4.73   Male    Yes   Fri  Dinner     4
112     Sun591       38.07   4.00   Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70   Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00   Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00   Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50   Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00   Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18   Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11   Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55   Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68   Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50   Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00   Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00   Male    Yes   Sun  Dinner     5
207    Sat4505       38.73   3.00   Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00   Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00   Male     No   Sat  Dinner     4
237    Sat2929       32.83   1.17   Male    Yes   Sat  Dinner     2

     price_per_person             Payer Name     CC Number
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
95              10.04          Aaron Bentley  1.800270e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
237             16.42           Thomas Brown  4.284720e+15

In [26]:
df_new = df[(df['total_bill'] > 30) & ~(df['gender']=='Male')]
print(df_new)

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
11     Sun6686       35.26  5.00  Female     No   Sun  Dinner     4
52     Sun6165       34.81  5.20  Female     No   Sun  Dinner     4
85    Thur7972       34.83  5.17  Female     No  Thur   Lunch     4
102    Sat6240       44.30  2.50  Female    Yes   Sat  Dinner     3
197   Thur9313       43.11  5.00  Female    Yes  Thur   Lunch     4
219    Sat8863       30.14  3.09  Female    Yes   Sat  Dinner     4
238    Sat9777       35.83  4.67  Female     No   Sat  Dinner     3

     price_per_person      Payer Name     CC Number
11               8.82    Diane Macias  4.577820e+15
52               8.70    Emily Daniel  4.291280e+15
85               8.71     Shawna Cook  6.011790e+15
102             14.77   Heather Cohen  3.797710e+14
197             10.78     Brooke Soto  5.544900e+15
219              7.54    Shelby House  5.020970e+11
238             11.94  Kimberly Crane  6.761840e+11

In [27]:
df_new = df[(df['total_bill'] > 30) & (df['gender']!='Male')]
print(df_new)

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
11     Sun6686       35.26  5.00  Female     No   Sun  Dinner     4
52     Sun6165       34.81  5.20  Female     No   Sun  Dinner     4
85    Thur7972       34.83  5.17  Female     No  Thur   Lunch     4
102    Sat6240       44.30  2.50  Female    Yes   Sat  Dinner     3
197   Thur9313       43.11  5.00  Female    Yes  Thur   Lunch     4
219    Sat8863       30.14  3.09  Female    Yes   Sat  Dinner     4
238    Sat9777       35.83  4.67  Female     No   Sat  Dinner     3

     price_per_person      Payer Name     CC Number
11               8.82    Diane Macias  4.577820e+15
52               8.70    Emily Daniel  4.291280e+15
85               8.71     Shawna Cook  6.011790e+15
102             14.77   Heather Cohen  3.797710e+14
197             10.78     Brooke Soto  5.544900e+15
219              7.54    Shelby House  5.020970e+11
238             11.94  Kimberly Crane  6.761840e+11

In [28]:
df_new = df[(df['total_bill'] > 30) | (df['tip'] > 5)]
print(df_new)

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
11     Sun6686       35.26   5.00  Female     No   Sun  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00    Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60    Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
52     Sun6165       34.81   5.20  Female     No   Sun  Dinner     4
56     Sat8903       38.01   3.00    Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00    Male    Yes  Thur   Lunch     2
85    Thur7972       34.83   5.17  Female     No  Thur   Lunch     4
88    Thur9003       24.71   5.85    Male     No  Thur   Lunch     2
95     Fri9628       40.17   4.73    Male    Yes   Fri  Dinner     4
102    Sat6240       44.30   2.50  Female    Yes   Sat  Dinner     3
112     Sun591       38.07   4.00    Male     No   Sun  Dinner     3
116      Sun22       29.93   5.07    Male     No   Sun  Dinner     4
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00    Male     No  Thur   Lunch     5
155    Sun9176       29.85   5.14  Female     No   Sun  Dinner     5
156    Sun7518       48.17   5.00    Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50    Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
172    Sun9209        7.25   5.15    Male    Yes   Sun  Dinner     2
173    Sun9335       31.85   3.18    Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11    Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55    Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68    Male    Yes   Sun  Dinner     4
181    Sun3402       23.33   5.65    Male    Yes   Sun  Dinner     2
182    Sun2337       45.35   3.50    Male    Yes   Sun  Dinner     3
183    Sun6059       23.17   6.50    Male    Yes   Sun  Dinner     4
184    Sun5140       40.55   3.00    Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00    Male    Yes   Sun  Dinner     5
197   Thur9313       43.11   5.00  Female    Yes  Thur   Lunch     4
207    Sat4505       38.73   3.00    Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00    Male    Yes   Sat  Dinner     3
211    Sat6735       25.89   5.16    Male    Yes   Sat  Dinner     4
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
214    Sat3374       28.17   6.50  Female    Yes   Sat  Dinner     3
219    Sat8863       30.14   3.09  Female    Yes   Sat  Dinner     4
237    Sat2929       32.83   1.17    Male    Yes   Sat  Dinner     2
238    Sat9777       35.83   4.67  Female     No   Sat  Dinner     3
239    Sat2657       29.03   5.92    Male     No   Sat  Dinner     3

     price_per_person             Payer Name     CC Number
11               8.82           Diane Macias  4.577820e+15
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
52               8.70           Emily Daniel  4.291280e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
85               8.71            Shawna Cook  6.011790e+15
88              12.36           Roger Taylor  4.410250e+12
95              10.04          Aaron Bentley  1.800270e+14
102             14.77          Heather Cohen  3.797710e+14
112             12.69             Jeff Lopez  3.572870e+15
116              7.48            Shawn Blake  4.689080e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
155              5.97         Madison Wilson  4.210880e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
172              3.62            Larry White  3.043260e+13
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
181             11.66              Jason Cox  6.556930e+15
182             15.12           Jose Parsons  4.112210e+15
183              5.79      Dr. Michael James  4.718500e+12
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
197             10.78            Brooke Soto  5.544900e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
211              6.47         Christopher Li  6.011960e+15
212             12.08        Alex Williamson  6.762190e+11
214              9.39        Marissa Jackson  4.922300e+15
219              7.54           Shelby House  5.020970e+11
237             16.42           Thomas Brown  4.284720e+15
238             11.94         Kimberly Crane  6.761840e+11
239              9.68          Michael Avila  5.296070e+15

In [29]:
# Conditional is in operator

options = ['Sat', 'Sun']
print(df['day'].isin (options))
print(df[df['day'].isin (options)])

0       True
1       True
2       True
3       True
4       True
       ...
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool
    Payment ID  total_bill   tip  gender smoker  day    time  size  \
0      Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1      Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2      Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3      Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4      Sun2251       24.59  3.61  Female     No  Sun  Dinner     4
..         ...         ...   ...     ...    ...  ...     ...   ...
238    Sat9777       35.83  4.67  Female     No  Sat  Dinner     3
239    Sat2657       29.03  5.92    Male     No  Sat  Dinner     3
240    Sat1766       27.18  2.00  Female    Yes  Sat  Dinner     2
241    Sat3880       22.67  2.00    Male    Yes  Sat  Dinner     2
242      Sat17       17.82  1.75    Male     No  Sat  Dinner     2

     price_per_person          Payer Name     CC Number
0                8.49  Christy Cunningham  3.560330e+15
1                3.45      Douglas Tucker  4.478070e+15
2                7.00      Travis Walters  6.011810e+15
3               11.84    Nathaniel Harris  4.676140e+15
4                6.15        Tonya Carter  4.832730e+15
..                ...                 ...           ...
238             11.94      Kimberly Crane  6.761840e+11
239              9.68       Michael Avila  5.296070e+15
240             13.59      Monica Sanders  3.506810e+15
241             11.34          Keith Wong  6.011890e+15
242              8.91        Dennis Dixon  4.375220e+12

[163 rows x 11 columns]

In [30]:
# sort_values
print(df.sort_values('tip'))

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
67     Sat3455        3.07   1.00  Female    Yes   Sat  Dinner     1
236    Sat5032       12.60   1.00    Male    Yes   Sat  Dinner     2
92     Fri3780        5.75   1.00  Female    Yes   Fri  Dinner     2
111    Sat4801        7.25   1.00  Female     No   Sat  Dinner     1
0      Sun2959       16.99   1.01  Female     No   Sun  Dinner     2
..         ...         ...    ...     ...    ...   ...     ...   ...
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3

     price_per_person          Payer Name     CC Number
67               3.07       Tiffany Brock  4.359490e+15
236              6.30       Matthew Myers  3.543680e+15
92               2.88        Leah Ramirez  3.508910e+15
111              7.25         Terri Jones  3.559220e+15
0                8.49  Christy Cunningham  3.560330e+15
..                ...                 ...           ...
141              5.72      Steven Carlson  3.526520e+15
59              12.07         Brian Ortiz  6.596450e+15
23               9.86      Lance Peterson  3.542580e+15
212             12.08     Alex Williamson  6.762190e+11
170             16.94       Gregory Clark  5.473850e+15

[244 rows x 11 columns]

In [31]:
#correlation
print(df[['total_bill', 'tip']].corr())

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [32]:
print(df['total_bill'].max())

50.81

In [33]:
#idxmin and idxmax
print(df['total_bill'].idxmax())
print(df['total_bill'].idxmin())

170
67

In [34]:
print(df.iloc[170])

Payment ID                     Sat1954
total_bill                       50.81
tip                               10.0
gender                            Male
smoker                             Yes
day                                Sat
time                            Dinner
size                                 3
price_per_person                 16.94
Payer Name               Gregory Clark
CC Number           5473850000000000.0
Name: 170, dtype: object

In [35]:
#value_counts get count on categorical columns
print("Smoker:\n", df['smoker'].value_counts()) # Smokers and non-smokers
print("\nGender: \n", df['gender'].value_counts()) # Males and Females

Smoker:
 No     151
Yes     93
Name: smoker, dtype: int64

Gender:
 Male      157
Female     87
Name: gender, dtype: int64

In [36]:
# unique
print(df['day'].unique())
print(df['day'].nunique()) #Unique count
print(df['time'].unique())
print(df['time'].nunique()) #Unique count

['Sun' 'Sat' 'Thur' 'Fri']
4
['Dinner' 'Lunch']
2

In [37]:
# Between options for inclusive are both, left, right, neither
print(df['total_bill'].between(10,20,inclusive='both'))
print(df[df['total_bill'].between(10,20,inclusive='both')])

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill   tip  gender smoker   day    time  size  \
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
1      Sun4608       10.34  1.66    Male     No   Sun  Dinner     3
8      Sun6820       15.04  1.96    Male     No   Sun  Dinner     2
9      Sun3775       14.78  3.23    Male     No   Sun  Dinner     2
10     Sun2546       10.27  1.71    Male     No   Sun  Dinner     2
..         ...         ...   ...     ...    ...   ...     ...   ...
234    Sat7220       15.53  3.00    Male    Yes   Sat  Dinner     2
235    Sat4615       10.07  1.25    Male     No   Sat  Dinner     2
236    Sat5032       12.60  1.00    Male    Yes   Sat  Dinner     2
242      Sat17       17.82  1.75    Male     No   Sat  Dinner     2
243    Thur672       18.78  3.00  Female     No  Thur  Dinner     2

     price_per_person          Payer Name     CC Number
0                8.49  Christy Cunningham  3.560330e+15
1                3.45      Douglas Tucker  4.478070e+15
8                7.52     Joseph Mcdonald  3.522870e+15
9                7.39       Jerome Abbott  3.532120e+15
10               5.14       William Riley  5.662880e+11
..                ...                 ...           ...
234              7.76       Tracy Douglas  4.097940e+15
235              5.04       Sean Gonzalez  3.534020e+15
236              6.30       Matthew Myers  3.543680e+15
242              8.91        Dennis Dixon  4.375220e+12
243              9.39     Michelle Hardin  3.511450e+15

[130 rows x 11 columns]

In [38]:
# Sample data randomly
print(df.sample(5)) # 5 rows
print(df.sample(frac=0.1))  # 10% of rows

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
96     Fri3159       27.28  4.00    Male    Yes   Fri  Dinner     2
144   Thur9002       16.43  2.30  Female     No  Thur   Lunch     2
30     Sat4099        9.55  1.45    Male     No   Sat  Dinner     2
137   Thur3890       14.15  2.00  Female     No  Thur   Lunch     2
44     Sun2274       30.40  5.60    Male     No   Sun  Dinner     4

     price_per_person      Payer Name     CC Number
96              13.64     Eric Carter  4.563050e+15
144              8.22     Linda Jones  6.542730e+15
30               4.78      Grant Hall  3.019650e+13
137              7.08  Vanessa Morris  2.131890e+14
44               7.60     Todd Cooper  5.038470e+11
    Payment ID  total_bill   tip  gender smoker   day    time  size  \
106    Sat7865       20.49  4.06    Male    Yes   Sat  Dinner     2
219    Sat8863       30.14  3.09  Female    Yes   Sat  Dinner     4
118   Thur8084       12.43  1.80  Female     No  Thur   Lunch     2
189    Sun1821       23.10  4.00    Male    Yes   Sun  Dinner     3
4      Sun2251       24.59  3.61  Female     No   Sun  Dinner     4
237    Sat2929       32.83  1.17    Male    Yes   Sat  Dinner     2
36     Sat9139       16.31  2.00    Male     No   Sat  Dinner     3
52     Sun6165       34.81  5.20  Female     No   Sun  Dinner     4
24     Sat6236       19.82  3.18    Male     No   Sat  Dinner     2
47     Sun9677       32.40  6.00    Male     No   Sun  Dinner     4
201   Thur2544       12.74  2.01  Female    Yes  Thur   Lunch     2
190    Sun5104       15.69  1.50    Male    Yes   Sun  Dinner     2
105    Sat5106       15.36  1.64    Male    Yes   Sat  Dinner     2
185    Sun5842       20.69  5.00    Male     No   Sun  Dinner     5
60     Sat2353       20.29  3.21    Male    Yes   Sat  Dinner     2
144   Thur9002       16.43  2.30  Female     No  Thur   Lunch     2
39     Sat6373       31.27  5.00    Male     No   Sat  Dinner     3
226    Fri6359       10.09  2.00  Female    Yes   Fri   Lunch     2
114    Sun6492       25.71  4.00  Female     No   Sun  Dinner     3
205   Thur8084       16.47  3.23  Female    Yes  Thur   Lunch     3
128   Thur8551       11.38  2.00  Female     No  Thur   Lunch     2
95     Fri9628       40.17  4.73    Male    Yes   Fri  Dinner     4
223    Fri6014       15.98  3.00  Female     No   Fri   Lunch     3
228    Sat2937       13.28  2.72    Male     No   Sat  Dinner     2

     price_per_person           Payer Name     CC Number
106             10.24        Karl Mcdaniel  1.800240e+14
219              7.54         Shelby House  5.020970e+11
118              6.22  Dr. Caroline Tucker  5.020470e+11
189              7.70      Richard Stevens  3.560190e+15
4                6.15         Tonya Carter  4.832730e+15
237             16.42         Thomas Brown  4.284720e+15
36               5.44         William Ford  3.527690e+15
52               8.70         Emily Daniel  4.291280e+15
24               9.91     Christopher Ross  3.673910e+13
47               8.10         James Barnes  3.552000e+15
201              6.37        Abigail Parks  3.586650e+15
190              7.84         Riley Barnes  1.800540e+14
105              7.68          David Price  4.029960e+12
185              4.14        Joseph Howell  3.036240e+13
60              10.14       Anthony Mclean  3.476140e+14
144              8.22          Linda Jones  6.542730e+15
39              10.42    Mr. Brandon Berry  6.011530e+15
226              5.04           Ruth Weiss  5.268690e+15
114              8.57          Katie Smith  5.400160e+15
205              5.49          Carly Reyes  4.787790e+12
128              5.69    Christine Perkins  3.548390e+15
95              10.04        Aaron Bentley  1.800270e+14
223              5.33          Mary Rivera  5.343430e+15
228              6.64          Glenn Jones  5.020620e+11

In [39]:
# nlargest and nsmallest
print(df.nlargest(10, 'tip'))

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
183    Sun6059       23.17   6.50    Male    Yes   Sun  Dinner     4
214    Sat3374       28.17   6.50  Female    Yes   Sat  Dinner     3
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
239    Sat2657       29.03   5.92    Male     No   Sat  Dinner     3
88    Thur9003       24.71   5.85    Male     No  Thur   Lunch     2

     price_per_person         Payer Name     CC Number
170             16.94      Gregory Clark  5.473850e+15
212             12.08    Alex Williamson  6.762190e+11
23               9.86     Lance Peterson  3.542580e+15
59              12.07        Brian Ortiz  6.596450e+15
141              5.72     Steven Carlson  3.526520e+15
183              5.79  Dr. Michael James  4.718500e+12
214              9.39    Marissa Jackson  4.922300e+15
47               8.10       James Barnes  3.552000e+15
239              9.68      Michael Avila  5.296070e+15
88              12.36       Roger Taylor  4.410250e+12

In [40]:
print(df.nsmallest(10, 'tip')) #Return the first n rows with the smallest values in columns, in ascending order.

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
67     Sat3455        3.07  1.00  Female    Yes   Sat  Dinner     1
92     Fri3780        5.75  1.00  Female    Yes   Fri  Dinner     2
111    Sat4801        7.25  1.00  Female     No   Sat  Dinner     1
236    Sat5032       12.60  1.00    Male    Yes   Sat  Dinner     2
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
215    Sat6983       12.90  1.10  Female    Yes   Sat  Dinner     2
237    Sat2929       32.83  1.17    Male    Yes   Sat  Dinner     2
75     Sat5056       10.51  1.25    Male     No   Sat  Dinner     2
135   Thur6600        8.51  1.25  Female     No  Thur   Lunch     2
235    Sat4615       10.07  1.25    Male     No   Sat  Dinner     2

     price_per_person          Payer Name     CC Number
67               3.07       Tiffany Brock  4.359490e+15
92               2.88        Leah Ramirez  3.508910e+15
111              7.25         Terri Jones  3.559220e+15
236              6.30       Matthew Myers  3.543680e+15
0                8.49  Christy Cunningham  3.560330e+15
215              6.45        Jessica Owen  4.726900e+12
237             16.42        Thomas Brown  4.284720e+15
75               5.26       Kenneth Hayes  2.131420e+14
135              4.26      Rebecca Harris  4.320270e+15
235              5.04       Sean Gonzalez  3.534020e+15

In [41]:
# groupby functionality:
# 1. Splitting: The data is first split into groups based
# 2. Applying: A function (or multiple functions) is applic
# 3. Combining: The results of the function applications a into a new DataFram

In [42]:
# Splitting
df_grouped = df.groupby('gender')
print(df_grouped.head()) # Note that the output will not have any visible impact, a mention of grouping

   Payment ID  total_bill   tip  gender smoker  day    time  size  \
0     Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1     Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2     Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3     Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4     Sun2251       24.59  3.61  Female     No  Sun  Dinner     4
5     Sun9679       25.29  4.71    Male     No  Sun  Dinner     4
6     Sun5985        8.77  2.00    Male     No  Sun  Dinner     2
11    Sun6686       35.26  5.00  Female     No  Sun  Dinner     4
14    Sun3848       14.83  3.02  Female     No  Sun  Dinner     2
16    Sun9715       10.33  1.67  Female     No  Sun  Dinner     3

    price_per_person          Payer Name     CC Number
0               8.49  Christy Cunningham  3.560330e+15
1               3.45      Douglas Tucker  4.478070e+15
2               7.00      Travis Walters  6.011810e+15
3              11.84    Nathaniel Harris  4.676140e+15
4               6.15        Tonya Carter  4.832730e+15
5               6.32          Erik Smith  2.131400e+14
6               4.38  Kristopher Johnson  2.223730e+15
11              8.82        Diane Macias  4.577820e+15
14              7.42       Vanessa Jones  3.001670e+13
16              3.44    Elizabeth Foster  4.240030e+15

In [43]:
# Changing the datatype of each column BEFORE grouping
df['Payment ID'] = df['Payment ID'].astype(str)
df['total_bill'] = df['total_bill'].astype(float)
df['tip'] = df['tip'].astype(float)
df['size'] = df['size'].astype(int)
df['price_per_person'] = df['price_per_person'].astype(float)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Payment ID        244 non-null    object
 1   total_bill        244 non-null    float64
 2   tip               244 non-null    float64
 3   gender            244 non-null    object
 4   smoker            244 non-null    object
 5   day               244 non-null    object
 6   time              244 non-null    object
 7   size              244 non-null    int32
 8   price_per_person  244 non-null    float64
 9   Payer Name        244 non-null    object
 10  CC Number         244 non-null    float64
dtypes: float64(4), int32(1), object(6)
memory usage: 20.1+ KB

In [45]:
# Now group the DataFrame with the desired data types:
df_grouped = df.groupby('gender')

In [46]:
# Applying to groupby gender
print("Mean","-"*10,"\n", df_grouped['tip'].mean()) # Calculate the mean tip for each gender
print("Count","-"*10,"\n ", df_grouped.count()) # Count works on all columns
print("Max","-"*10,"\n", df_grouped[['tip']].max()) # Only include numeric columns for max
print("Min","-"*10,"\n",df_grouped[['tip']].min()) # Only include numeric columns for min
print("Sum","-"*10,"\n", df_grouped[['tip']].sum()) # Only include numeric columns for sum
print("Variance","-"*10,"\n", df_grouped[['tip']].var()) # Only include numeric columns for variance
print("Std","-"*10,"\n", df_grouped[['tip']].std()) # Only include numeric columns for standard deviation

Mean ----------
 gender
Female    2.833448
Male      3.089618
Name: tip, dtype: float64
Count ----------
          Payment ID  total_bill  tip  smoker  day  time  size  \
gender
Female          87          87   87      87   87    87    87
Male           157         157  157     157  157   157   157

        price_per_person  Payer Name  CC Number
gender
Female                87          87         87
Male                 157         157        157
Max ----------
          tip
gender
Female   6.5
Male    10.0
Min ----------
         tip
gender
Female  1.0
Male    1.0
Sum ----------
            tip
gender
Female  246.51
Male    485.07
Variance ----------
              tip
gender
Female  1.344428
Male    2.217424
Std ----------
              tip
gender
Female  1.159495
Male    1.489102

In [47]:
# describe works on all columns but might provide less meaningful results for non-numeric columns
print(df_grouped.describe() )

       total_bill                                                         \
            count       mean       std   min    25%    50%    75%    max
gender
Female       87.0  18.056897  8.009209  3.07  12.75  16.40  21.52  44.30
Male        157.0  20.744076  9.246469  7.25  14.00  18.35  24.71  50.81

          tip            ... price_per_person        CC Number                \
        count      mean  ...              75%    max     count          mean
gender                   ...
Female   87.0  2.833448  ...            8.725  14.77      87.0  2.450499e+15
Male    157.0  3.089618  ...            9.680  20.27     157.0  2.626112e+15

                                                                              \
                 std           min           25%           50%           75%
gender
Female  2.326826e+15  6.046330e+10  4.859865e+12  3.508910e+15  4.447820e+15
Male    2.397656e+15  6.040679e+10  3.623120e+13  3.527690e+15  4.563050e+15


                 max
gender
Female  6.542730e+15
Male    6.596450e+15

[2 rows x 40 columns]

In [48]:
#agg function
# Apply multiple aggregation functions to different columns when grouping data #Calculate both the mean and sum of the 'tip' column for each combination of # 'gender' and 'day'
# Group the DataFrame by both 'gender' and 'day' and calculate the mean and sum of 'tip' or each combination

df_grouped = df.groupby(['gender', 'day']).agg({'tip': ['mean', 'sum']}).reset_index()
print(df_grouped)

   gender   day       tip
                     mean     sum
0  Female   Fri  2.781111   25.03
1  Female   Sat  2.801786   78.45
2  Female   Sun  3.367222   60.61
3  Female  Thur  2.575625   82.42
4    Male   Fri  2.693000   26.93
5    Male   Sat  3.083898  181.95
6    Male   Sun  3.220345  186.78
7    Male  Thur  2.980333   89.41

In [49]:
#Rename the columns
df_grouped.columns = ['gender', 'day', 'mean tip', 'total tip']
print(df_grouped)

   gender   day  mean tip  total tip
0  Female   Fri  2.781111      25.03
1  Female   Sat  2.801786      78.45
2  Female   Sun  3.367222      60.61
3  Female  Thur  2.575625      82.42
4    Male   Fri  2.693000      26.93
5    Male   Sat  3.083898     181.95
6    Male   Sun  3.220345     186.78
7    Male  Thur  2.980333      89.41

------

In [50]:
# Other index example
df_airbnb = pd.read_csv('AB_NYC_2019.csv')
print(len(df_airbnb))
print(df_airbnb.head())

48895
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [51]:
# Make id as column
df2 = df_airbnb.set_index('id')

In [52]:
print(df2.head(3))

                                     name  host_id  host_name  \
id
2539   Clean & quiet apt home by the park     2787       John
2595                Skylit Midtown Castle     2845   Jennifer
3647  THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth

     neighbourhood_group neighbourhood  latitude  longitude        room_type  \
id
2539            Brooklyn    Kensington  40.64749  -73.97237     Private room
2595           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt
3647           Manhattan        Harlem  40.80902  -73.94190     Private room

      price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
id
2539    149               1                  9  2018-10-19               0.21
2595    225               1                 45  2019-05-21               0.38
3647    150               3                  0         NaN                NaN

      calculated_host_listings_count  availability_365
id
2539                               6               365
2595                               2               355
3647                               1               365

In [53]:
print(df2['name'][3647])

THE VILLAGE OF HARLEM....NEW YORK !

In [54]:
print(df2.columns)

Index(['name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [55]:
df2.reset_index(inplace=True)

In [56]:
df2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [57]:
df2.set_index('host_name', inplace=True)
print("Length: ", len(df2.loc['John']))

Length:  294

In [58]:
df2.head()

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
John,2539,Clean & quiet apt home by the park,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
Jennifer,2595,Skylit Midtown Castle,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
Elisabeth,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
LisaRoxanne,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
Laura,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [59]:
print(df2.loc['John'])

                 id                                               name  \
host_name
John           2539                 Clean & quiet apt home by the park
John         148201                  NYC - Sunny Greenwich Village 1br
John         234870                   Private Room With GREAT Location
John         400039                 Big Beautiful Railroad in Brooklyn
John         484297        Large home in most desirable Brooklyn hood!
...             ...                                                ...
John       35836317                 Gorgeous Duplex 2BED/1.5BA  Modern
John       35871036  Huge 1 bedroom w/ a backyard near the heart of...
John       35984474                               Perfect Weekend Stay
John       36140542  Wonderful Summer Vacation  Getaways For Weeken...
John       36391615  Hidden gem! Cozy home in heart of Lower East Side

             host_id neighbourhood_group      neighbourhood  latitude  \
host_name
John            2787            Brooklyn         Kensington  40.64749
John          715807           Manhattan  Greenwich Village  40.72831
John         1229984              Queens   Long Island City  40.74581
John         1488809            Brooklyn           Bushwick  40.70339
John         2397411            Brooklyn       Clinton Hill  40.68545
...              ...                 ...                ...       ...
John       269242923           Manhattan           Kips Bay  40.74490
John       226414996              Queens   Ditmars Steinway  40.77170
John       229739739            Brooklyn           Flatbush  40.64726
John       229739739            Brooklyn           Flatbush  40.64600
John        70653354           Manhattan    Lower East Side  40.72013

           longitude        room_type  price  minimum_nights  \
host_name
John       -73.97237     Private room    149               1
John       -74.00177  Entire home/apt    175               3
John       -73.95295     Private room     75              30
John       -73.92945  Entire home/apt    130              30
John       -73.96534  Entire home/apt    350               4
...              ...              ...    ...             ...
John       -73.97888  Entire home/apt    288               5
John       -73.90799  Entire home/apt     90               3
John       -73.95455     Private room     85              14
John       -73.95455     Private room     85               7
John       -73.98769  Entire home/apt    235               1

           number_of_reviews last_review  reviews_per_month  \
host_name
John                       9  2018-10-19               0.21
John                      18  2013-05-31               0.19
John                      65  2017-07-31               0.74
John                      53  2017-06-30               0.68
John                      10  2018-09-12               0.12
...                      ...         ...                ...
John                       2  2019-06-30               2.00
John                       0         NaN                NaN
John                       0         NaN                NaN
John                       0         NaN                NaN
John                       0         NaN                NaN

           calculated_host_listings_count  availability_365
host_name
John                                    6               365
John                                    1                 0
John                                    3               219
John                                    1                 0
John                                    1                 0
...                                   ...               ...
John                                    1                74
John                                    2                21
John                                    2               176
John                                    2               176
John                                    1               349

[294 rows x 15 columns]

In [60]:
df2.reset_index(inplace=True)

In [61]:
df2.head(5)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,John,2539,Clean & quiet apt home by the park,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Jennifer,2595,Skylit Midtown Castle,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,Elisabeth,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,LisaRoxanne,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Laura,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [62]:
# Set pandas display options to show all columns
numeric_column = df.select_dtypes(include=['float64', 'int64'])
print(numeric_column.head())

   total_bill   tip  price_per_person     CC Number
0       16.99  1.01              8.49  3.560330e+15
1       10.34  1.66              3.45  4.478070e+15
2       21.01  3.50              7.00  6.011810e+15
3       23.68  3.31             11.84  4.676140e+15
4       24.59  3.61              6.15  4.832730e+15

In [63]:
# Include 'room_type' column in numeric_column DataFrame
numeric_column['room_type'] = df2['room_type']
print(numeric_column.head())

   total_bill   tip  price_per_person     CC Number        room_type
0       16.99  1.01              8.49  3.560330e+15     Private room
1       10.34  1.66              3.45  4.478070e+15  Entire home/apt
2       21.01  3.50              7.00  6.011810e+15     Private room
3       23.68  3.31             11.84  4.676140e+15  Entire home/apt
4       24.59  3.61              6.15  4.832730e+15  Entire home/apt

C:\Users\anu\AppData\Local\Temp/ipykernel_6940/4274724994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_column['room_type'] = df2['room_type']

In [64]:
# Print all the columns without break
pd.set_option('display.max_columns', None)

In [65]:
df3 = numeric_column.groupby('room_type')

In [66]:
df3.head(5)

     total_bill   tip  price_per_person     CC Number        room_type
0         16.99  1.01              8.49  3.560330e+15     Private room
1         10.34  1.66              3.45  4.478070e+15  Entire home/apt
2         21.01  3.50              7.00  6.011810e+15     Private room
3         23.68  3.31             11.84  4.676140e+15  Entire home/apt
4         24.59  3.61              6.15  4.832730e+15  Entire home/apt
5         25.29  4.71              6.32  2.131400e+14  Entire home/apt
6          8.77  2.00              4.38  2.223730e+15     Private room
7         26.88  3.12              6.72  3.514790e+15     Private room
8         15.04  1.96              7.52  3.522870e+15     Private room
9         14.78  3.23              7.39  3.532120e+15  Entire home/apt
39        31.27  5.00             10.42  6.011530e+15      Shared room
203       16.40  2.50              8.20  3.582290e+15      Shared room

In [67]:
df3 = numeric_column.groupby('room_type').mean()
print(df3)

                 total_bill       tip  price_per_person     CC Number
room_type
Entire home/apt   19.962923  3.087077          7.945923  2.524231e+15
Private room      19.508214  2.881786          7.795804  2.569188e+15
Shared room       23.835000  3.750000          9.310000  4.796910e+15

In [68]:
pd.reset_option('display.max_columns')

In [69]:
print(df3.head())

                 total_bill       tip  price_per_person     CC Number
room_type
Entire home/apt   19.962923  3.087077          7.945923  2.524231e+15
Private room      19.508214  2.881786          7.795804  2.569188e+15
Shared room       23.835000  3.750000          9.310000  4.796910e+15

In [70]:
#Rows
print(df2.iloc[0])

host_name                                                       John
id                                                              2539
name                              Clean & quiet apt home by the park
host_id                                                         2787
neighbourhood_group                                         Brooklyn
neighbourhood                                             Kensington
latitude                                                    40.64749
longitude                                                  -73.97237
room_type                                               Private room
price                                                            149
minimum_nights                                                     1
number_of_reviews                                                  9
last_review                                               2018-10-19
reviews_per_month                                               0.21
calculated_host_listings_count                                     6
availability_365                                                 365
Name: 0, dtype: object

In [71]:
df2.head()

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,John,2539,Clean & quiet apt home by the park,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Jennifer,2595,Skylit Midtown Castle,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,Elisabeth,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,LisaRoxanne,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Laura,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [72]:
df2.set_index('host_id', inplace=True)

In [73]:
print(df2.loc[2787])

        host_name        id  \
host_id
2787         John      2539
2787         John   7937553
2787         John  10160215
2787         John  10267242
2787         John  10593675
2787         John  17263207

                                                      name  \
host_id
2787                    Clean & quiet apt home by the park
2787     Riomaggiore Room. Queen Bedroom in Bklyn Townh...
2787                                  Torre del Lago Room.
2787     Cinque Terre Room.  Clean and Quiet Queen Bedroom
2787     La Spezia room.  Clean, quiet and comfortable bed
2787      Brooklyn home.  Comfort and clean. Liguria room.

        neighbourhood_group neighbourhood  latitude  longitude     room_type  \
host_id
2787               Brooklyn    Kensington  40.64749  -73.97237  Private room
2787               Brooklyn   Bensonhurst  40.60951  -73.97622  Private room
2787               Brooklyn     Gravesend  40.60755  -73.97410  Private room
2787               Brooklyn     Gravesend  40.60810  -73.97541  Private room
2787               Brooklyn   Bensonhurst  40.60951  -73.97642   Shared room
2787               Brooklyn   Bensonhurst  40.60877  -73.97382  Private room

         price  minimum_nights  number_of_reviews last_review  \
host_id
2787       149               1                  9  2018-10-19
2787        99               1                 21  2018-10-27
2787        79               1                 17  2019-06-26
2787       149               1                 24  2019-05-11
2787        79               1                 15  2018-09-29
2787        49               1                 19  2019-06-08

         reviews_per_month  calculated_host_listings_count  availability_365
host_id
2787                  0.21                               6               365
2787                  0.50                               6               153
2787                  0.40                               6               174
2787                  0.64                               6               180
2787                  0.43                               6               180
2787                  0.70                               6               360